<!DOCTYPE html>

<html lang="pl">

<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/d4fac2996f.js" crossorigin="anonymous"></script>
    <title>Login page</title>
</head>

<body>
    <div id="container">
        <div id="logo-container">
            <img id="login-logo" src="../img/logo.PNG">
        </div>
        
        <div id="form">
            <div id="form-content">
                <div id="form-title-container">
                    <h4 id="form-title">Logowanie</h4>
                </div>
                <h5 class="field-title">Email</h5>
                <div class="form-field">
                    <i class="fas fa-envelope"></i>
                    <input class="input-field" name="email" type="text" placeholder="Email"> 
                </div>
                <h5 class="field-title">Hasło</h5>
                <div class="form-field">
                    <i class="fas fa-lock"></i>
                    <input class="input-field" name="password" type="text" placeholder="Hasło">
                </div>
                <div class="buttons-container">
                    <a href="register.html">
                        <button class="left-button">Załóż konto</button>
                    </a>
                    <a href="all-projects.html">
                        <button class="right-button">Zaloguj się</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</body>

</html>