<!DOCTYPE html>

<html lang="pl">

<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../css/style2.css">
    <script src="https://kit.fontawesome.com/d4fac2996f.js" crossorigin="anonymous"></script>
    <title>My project page</title>
</head>

<body>
    <div id="container">
        <div id="header">
            <div id="logo">
                <a href="all-projects.html">
                    <img src="../img/logo.PNG">
                </a>
            </div>
            <div id="search-bar">
                <input class="input-field" name="search" type="text" placeholder="Wyszukaj...">
                <i class="fas fa-search"></i>
            </div>
            <div class="button">
                <a href="add-project.html">
                    <button id="button-add">
                        <i class="far fa-plus-square"></i>
                        Dodaj ogłoszenie
                    </button>
                </a>
            </div>
            <div class="button">
                <a href="my-projects.html">
                    <button id="button-my">Moje ogłoszenia</button>
                </a>
            </div>
            <div class="button">
                <a href="login.html">
                    <button id="button-logout">Wyloguj</button>
                </a>
            </div>
        </div>
        <div id="content">
			<div class="my-single-ad">
                <img src="../img/temp/img.PNG">
                <h3 class="name">Student szuka praktyki</h3>
                <h4 class="category">Praca</h4>
                <div class="delete">Usuń</div>
			</div>
			<div class="my-single-ad">
                <img src="../img/temp/img.PNG">
                <h3 class="name">Kupię kilogram ryżu</h3>
                <h4 class="category">Inne</h4>
                <div class="delete">Usuń</div>
			</div>
			<div class="my-single-ad">
                <img src="../img/temp/img.PNG">
                <h3 class="name">Szukam współlokatora</h3>
                <h4 class="category">Mieszkanie</h4>
                <div class="delete">Usuń</div>
            </div>
        </div>
    </div>
</body>

</html>