<!DOCTYPE html>

<html lang="pl">

<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../css/header-bar.css">
    <link rel="stylesheet" type="text/css" href="../css/details-add.css">
    <script src="https://kit.fontawesome.com/d4fac2996f.js" crossorigin="anonymous"></script>
    <title>Project details page</title>
</head>

<body>
    <div id="container">
        <div id="header">
            <div id="logo-container">
                <a href="all-projects.html">
                    <img src="../img/logo.PNG">
                </a>
            </div>
            <div id="search-bar">
                <input class="input-field" name="search" type="text" placeholder="Wyszukaj...">
                <i class="fas fa-search"></i>
            </div>
            <a href="add-project.html">
                <button id="button-add">
                    <i class="far fa-plus-square"></i>
                    Dodaj ogłoszenie
                </button>
            </a>
            <a href="my-projects.html">
                <button id="button-my">Moje ogłoszenia</button>
            </a>
            <a href="login.html">
                <button id="button-logout">Wyloguj</button>
            </a>
        </div>
        <div id="grid">
            <div id="title">
                <h4>Tytuł</h4>
                <h5>Sprzedam książke</h5>
            </div>
            <div id="image">
                <img src="../img/temp/img.PNG">
            </div>
            <div id="phone">
                <h4>Numer telefonu</h4>
                <h5>666 324 102</h5>
            </div>
            <div id="location">
                <h4>Lokalizacja</h4>
                <h5>Kraków</h5>
            </div>
            <div id="description">
                <h4>Opis</h4>
                <h5>
                    <p>Sprzedam książkę "Czysty kod" autorstwaa Roberta C. Martin'a.</p>
                    <p>Stan książki oceniam na bardzo dobry. Cena 30 zł. Możliwy odbiór osobisty lub wysyłka. 
                        Po więcej informacji proszę dzwonić pod podany nr telefonu.</p>
                </h5>
            </div>
        </div>
    </div>
</body>

</html>