<!DOCTYPE html>

<html lang="pl">

<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/d4fac2996f.js" crossorigin="anonymous"></script>
    <title>Register page</title>
</head>

<body>
    <div id="container">
        <div id="logo-container">
            <img id="register-logo" src="../img/logo.PNG">
        </div>
        
        <div id="form">
            <div id="form-content">
                <div id="form-header-container">
                    <h4>Rejestracja</h4>
                </div>
                <div id="input-container">
                    <div class="form-field-with-header">
                        <h5>Email</h5>
                        <div class="form-field">
                            <i class="fas fa-envelope"></i>
                            <input class="input-field" name="email" type="text" placeholder="Email"> 
                        </div>
                    </div>
                    <div class="form-field-with-header">
                        <h5>Numer telefonu</h5>
                        <div class="form-field">
                            <i class="fas fa-mobile-alt"></i>
                            <input class="input-field" name="phone" type="text" placeholder="Nr telefonu"> 
                        </div>
                    </div>
                    <div class="form-field-with-header">
                        <h5>Nazwa miejscowoci</h5>
                        <div class="form-field">
                            <i class="fas fa-map-marked-alt"></i>
                            <input class="input-field" name="adress" type="text" placeholder="Nazwa miejscowości"> 
                        </div>
                    </div>
                    <div class="form-field-with-header">
                        <h5>Hasło</h5>
                        <div class="form-field">
                            <i class="fas fa-lock"></i>
                            <input class="input-field" name="password" type="text" placeholder="Hasło">
                        </div>
                    </div>
                </div>
                <div class="buttons-container">
                    <a href="login.html">
                        <button class="right-button">Zarejestruj się</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</body>

</html>