<!DOCTYPE html>

<html lang="pl">

<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../css/login-register.css">
    <script src="https://kit.fontawesome.com/d4fac2996f.js" crossorigin="anonymous"></script>
    <title>Register page</title>
</head>

<body>
    <div id="container">
        <div id="logo-container">
            <img id="register-logo" src="../img/logo.PNG">
        </div>
        
        <div id="form">
            <div id="form-content">
                <div id="form-title-container">
                    <h4 id="form-title">Rejestracja</h4>
                </div>
                <h5 class="field-title">Email</h5>
                <div class="form-field">
                    <i class="fas fa-envelope"></i>
                    <input class="input-field" name="email" type="text" placeholder="Email"> 
                </div>
                <h5 class="field-title">Numer telefonu</h5>
                <div class="form-field">
                    <i class="fas fa-mobile-alt"></i>
                    <input class="input-field" name="phone" type="text" placeholder="Nr telefonu"> 
                </div>
                <h5 class="field-title">Nazwa miejscowoci</h5>
                <div class="form-field">
                    <i class="fas fa-map-marked-alt"></i>
                    <input class="input-field" name="adress" type="text" placeholder="Nazwa miejscowości"> 
                </div>
                <h5 class="field-title">Hasło</h5>
                <div class="form-field">
                    <i class="fas fa-lock"></i>
                    <input class="input-field" name="password" type="password" placeholder="Hasło">
                </div>
                <div class="buttons-container">
                    <a href="login.html">
                        <button class="right-button">Zarejestruj się</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</body>

</html>