#grid {
    width: 50%;
    height: auto;
    padding: 0 25%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 17% 25% 25% 33%;
    grid-template-areas: "a b"
                         "c d"
                         "c e"
                         "f f";
    background: none;
}

#title {
    padding: 1vw 1vw;
    margin: 1vh 1vh;
    grid-area: a;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #2CD412;
}

#image {
    margin: 1vh 1vh;
    grid-area: c;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

#image img {
    width: 100%;
    height: 100%;
}

#phone {
    padding: 1vw 1vw;
    margin: 1vh 1vh;
    grid-area: d;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #2CD412;
}

#location {
    padding: 1vw 1vw;
    margin: 1vh 1vh;
    grid-area: e;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #2CD412;
}

#description {
    padding: 1vw 1vw;
    margin: 1vh 1vh;
    grid-area: f;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #2CD412;
}

#grid div h4 {
    margin: 0 0 1vh 0;
    text-align: left;
    font: normal normal bold 20px Arial;
    letter-spacing: 0px;
    color: #000000;
}

#grid div h5 {
    margin: 0;
    text-align: left;
    font: normal normal normal 20px Arial;
    letter-spacing: 0px;
    color: #000000;
}

@media only screen and (max-device-width: 420px) {
    #grid {
        width: 95%;
        padding: 0;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 15% 35% 35% 15%;
        grid-template-areas: "a a"
                            "b b"
                            "c c"
                            "d e";
    }

    #title {
        grid-area: a;
    }
    
    #image {
        grid-area: b;
    }
    
    #phone {
        grid-area: d;
    }
    
    #location {
        grid-area: e;
    }
    
    #description {
        grid-area: c;
    }

    #grid div h4 {
        font-size: 40px;
    }
    
    #grid div h5 {
        font-size: 35px;
}

#content {
    width: 40vw;
    height: auto;
    padding-left: 30vw;
    padding-right: 30vw;
	display: flex;
	flex-direction: column;
    justify-content: top;
    align-items: center;
}

#entry-title, #choose-category {
    width: 100%;
    height: 7vh;
    margin: 1vw;
    border: none;
    display: flex;
	flex-direction: row;
    justify-content: top;
    align-items: center;
}

#write-description, #upload-photos {
    width: 100%;
    height: auto;
    margin: 1vw;
    display: flex;
	flex-direction: column;
    justify-content: top;
    align-items: left;
}

.square {
    width: 15%;
    height: 7vh;
    background: transparent linear-gradient(180deg, #13B609 0%, #076D0F 100%) 0% 0% no-repeat padding-box;
    font: normal normal bold 16px/18px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-input, .category-selector {
    width: 85%;
    height: inherit;
    border: none;
    font: normal normal normal 14px/16px Arial;
    color: #707070;
    outline: none;
}

.description-input {
    width: 96%;
    height: 20vh;
    border: none;
    padding: 2%;
    font: normal normal normal 14px/16px Arial;
    color: #707070;
    outline: none;
}

#photos {
    width: 100%;
    display: flex;
	flex-direction: row;
    justify-content: top;
    align-items: left;
}

.photo {
    width: 30%;
    height: 20vh;
    margin-top: 3%;
    margin-right: 3%;
}

@media only screen and (max-device-width: 420px) {
    #content {
        width: 90%;
        padding: 0 5%;
    }

    .square {
        width: 30%;
        font-size: 40px;
    }

    #content div input {
        width: 70%;
    }

    .title-input, .category-selector, .description-input {
        font-size: 35px;
    }

    .description-input {
        padding-top: 4%;
    }
}