body {
    margin: 0;
    background: #DDE7DA 0 0 no-repeat padding-box;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Project's details */
#grid {
    width: 50vw;
    height: 80vh;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 17% 25% 25% 33%;
    grid-template-areas: "a a"
                         "c d"
                         "c e"
                         "f f";
    background: none;
}

#title, #phone, #location, #description {
    padding: 1vw 1vw;
    margin: 1vh 1vh;
}

#title {
    grid-area: a;
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border: 1px solid #2CD412;
}

#image {
    grid-area: c;
    margin: 1vh 1vh;
    background: #FFFFFF 0 0 no-repeat padding-box;
}

#image img {
    width: 100%;
    height: 100%;
}

#phone {
    grid-area: d;
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border: 1px solid #2CD412;
}

#location {
    grid-area: e;
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border: 1px solid #2CD412;
}

#description {
    grid-area: f;
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border: 1px solid #2CD412;
}

#grid div h4 {
    margin: 0 0 1vh 0;
    text-align: left;
    font: normal normal bold 18px Arial;
    letter-spacing: 0;
    color: #000000;
}

#grid div h5 {
    margin: 0;
    text-align: left;
    font: normal normal normal 16px Arial;
    letter-spacing: 0;
    color: #000000;
}

@media only screen and (max-device-width: 1024px) {
    #grid {
        width: 95vw;
        height: 75vh;
        padding: 0;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 15% 35% 35% 15%;
        grid-template-areas: "a a"
                            "b b"
                            "c c"
                            "d e";
    }

    #title {
        grid-area: a;
    }
    
    #image {
        grid-area: b;
    }
    
    #phone {
        grid-area: d;
    }
    
    #location {
        grid-area: e;
    }
    
    #description {
        grid-area: c;
    }

    #grid div h4 {
        font-size: 40px;
    }
    
    #grid div h5 {
        font-size: 35px;
    }
}

/* Add project */
#content {
    width: 50vw;
    height: auto;
	display: flex;
	flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

#entry-title, #choose-category, #upload-photos, #send-photos {
    height: 7vh;
    margin-bottom: 2vh;
    border: none;
    display: flex;
	flex-direction: row;
    justify-content: center;
    align-items: center;
}

#write-description {
    height: auto;
    margin-bottom: 2vh;
    display: flex;
	flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.square {
    width: 10vw;
    height: 7vh;
    background: transparent linear-gradient(180deg, #13B609 0%, #076D0F 100%) 0 0 no-repeat padding-box;
    font: normal normal bold 2.2vh Arial;
    letter-spacing: 0;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-input, .category-selector {
    width: 40vw;
    height: inherit;
}

.title-input, .category-selector, .description-input {
    border: none;
    font: normal normal normal 2vh Arial;
    color: #707070;
    outline: none;
}

.description-input {
    width: 96%;
    height: 20vh;
    padding: 2%;
    resize: none;
}

#add-photo {
    width: 100%;
    font-size: 2vh;
    padding-left: 2vw;
}

#send-photos button {
    width: 30%;
    height: 80%;
    font-size: 2.8vh;
}

@media only screen and (max-device-width: 1024px) {
    #content {
        width: 90%;
     }

    .square {
        width: 30%;
    }

    #content div input {
        width: 70%;
    }

    .description-input {
        padding-top: 4%;
    }

    #send-photos button {
        width: 100%;
        height: 80%;
    }
}