html {
    overflow-x: hidden;
}

#header-container {
    width: 100vw;
    height: 9vh;
    background: transparent linear-gradient(180deg, #59D634 0%, #08670F 100%) 0 0 no-repeat padding-box;
    border-bottom: 1px solid #707070;
    display: flex;
	flex-direction: row;
    justify-content: start;
    align-items: center;
}

#logo-container {
    width: 25vw;
    text-align: center;
}

#logo-container a, #logo-container a img {
    height: 8vh;
}

#search-field {
    width: 27vw;
    height: 50%;
    margin-right: 3vw;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #707070;
    border-radius: 11px;
    display: flex;
	flex-direction: row;
    justify-content: start;
    align-items: center;
}

#search-field input {
    width: 88%;
    padding-left: 2%;
    font: normal normal 2.5vh Arial;
    background: none;
    border: none;
    outline: none;
}

#search-field i {
    width: 10%;
    font-size: 3vh;
    text-align: center;
}

#header-container a {
    height: auto;
    margin: 0 1vw;
}

#button-add, #button-my, #button-logout {
    height: 100%;
    padding: 1vh 0;
    border: 1px solid #707070;
    border-radius: 11px;
    font: normal normal bold 2.6vh Arial;
    color: #D47C18;
}

#button-add {
    width: 14vw;
    background: #38055F 0 0 no-repeat padding-box;
}

#button-my {
    width: 12vw;
    background: #FFFFFF 0 0 no-repeat padding-box;
}

#button-logout {
    width: 8vw;
    background: #FFFFFF 0 0 no-repeat padding-box;
}

@media only screen and (max-device-width: 1024px) {
    body {
        position: fixed;
    }

    #header-container {
        width: 100vw;
        height: 10vh;
    }

    #logo-container {
        width: 39vw;
        padding-right: 1vw;
    }

    #logo-container a {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        opacity: 1!important;
        pointer-events: all!important;
    }
    
    #logo-container a img {
        width: 100%;
        height: auto;
    }

    #search-field {
        width: 60vw;
    }

    #search-field input {
        width: 82%;
    }

    #search-field i {
        width: 15%;
    }

    #header-container a {
        width: 0;
        height: 0;
        opacity: 0;
        padding: 0;
        margin: 0;
        pointer-events: none;
    }
}