html {
    overflow-x: hidden;
}

body {
    margin: 0;
    background: transparent linear-gradient(180deg, #59D634 0%, #2D6B1A 100%) 0 0 no-repeat padding-box;
}

#container {
    width: 100vw;
    height: 100vh;
	display: flex;
	flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#logo-container {
    width: 40vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-logo {
    max-width: 70%;
}

#register-logo {
    max-width: 60%;
}

form {
    width: 34vw;
    padding: 0 3vw 0 3vw;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#form-title-container {
    width: inherit;
    text-align: center;
}

#form-title {
    margin: 0;
	padding: 3vh;
    font: normal normal bold 3vh Arial;
    color: #D47C18;
}

.messages {
    width: inherit;
    text-align: center;
    font-size: 2.5vh;
    color: purple;
}

.field-title {
    margin: 0;
    font: normal normal bold 2vh Arial;
    color: #D47C18;
}

.form-field {
    width: inherit;
    margin-bottom: 5vh;
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 1px solid #707070;
    display: flex;
	flex-direction: row;
    justify-content: left;
    align-items: center;
}

.form-field i {
    width: 4vw;
    height: 5vh;
    margin-top: 1vh;
    font-size: 4vh;
    text-align: center;
}

.input-field {
	width: 30vw;
    height: 5vh;
    text-align: left;
    font: normal normal normal 2vh Segoe UI;
    border: none;
    letter-spacing: 0;
    color: #707070;
    outline: none;
}

.buttons-container {
	width: inherit;
	margin-bottom: 5vh;
}

.left-button {
    float: left;
    height: 5vh;
    padding: 0 1vw;
    background: none;
    border: 1px solid #FFFFFF;
    color: #D47C18;
    text-align: center;
    font: normal normal normal 2vh Segoe UI
}

.right-button {
    float: right;
    height: 5vh;
    padding: 0 1vw;
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: none;
    color: #D47C18;
    text-align: center;
    font: normal normal normal 2vh Segoe UI
}

.left-button:hover, .right-button:hover {
    background: #EEEEEE 0 0 no-repeat padding-box;
}

@media only screen and (max-device-width: 420px) {
    #logo-container {
        width: 90vw;
        height: 40vh;
    }

    form {
        width: 90vw;
    }

    #login-logo, #register-logo {
        max-width: 100%;
    }

    #form-title {
        font: normal normal bold 4vh Arial;
    }

    .field-title {
        font: normal normal bold 3vh Arial;
    }

    .form-field i {
        width: 10vw;
    }

    .input-field {
        width: 80vw;
        font: normal normal normal 3vh Segoe UI;
    }

    .left-button, .right-button {
        padding: 0 2vw;
        font: normal normal normal 3vh Segoe UI;
    }
}