#content {
    width: 70vw;
    height: auto;
    padding-left: 15vw;
    padding-right: 15vw;
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project {
    width: 64vw;
    height: 24vh;
    margin: 1vh 1vh;
    padding: 1vh 1vh;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "a b c"
                         "a d e";
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
}

.my-project {
    width: 98%;
    height: 20vh;
    padding: 1vh 1%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "a b c"
                         "a d c";
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
}

.link-image {
    grid-area: a;
    width: auto;
    height: 100%;
}

.project a img, .my-project a img {
    width: auto;
    height: 100%;
    text-align: center;
}

.name {
    grid-area: b;
    width: 80%;
    padding-left: 10%;
}

.name a {
    text-decoration: none;
    text-align: left;
    font: normal normal bold 18px Arial;
    letter-spacing: 0px;
    color: #000000;
}

.category {
    grid-area: d;
    width: 80%;
    padding-left: 10%;
    text-align: left;
    font: normal normal bold 16px Arial;
    letter-spacing: 0px;
    color: #403737;
}

.location-and-date {
    grid-area: e;
    text-align: left;
    font: normal normal normal 16px Arial;
    letter-spacing: 0px;
    color: #574F4F;
}

.link-delete {
    width: 60%;
    height: 25%;
    margin: 20% 10% 20% 10%;
    grid-area: c;
    text-decoration: none;
}

.delete {
    width: 100%;
    height: 100%;
    padding-top: 3%;
    background: #38055F 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 29px;
    text-align: center;
    font: normal normal bold 24px/28px Arial;
    letter-spacing: 0px;
    color: #D47C18;
}
.delete:hover {
    .name: color: FFFFFF;
}

@media only screen and (max-device-width: 420px) {
    #content {
        width: 100%;
        padding: 0;
    }

    .project, .my-project {
        width: 95%;
        height: 15vh;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 64% 35%;
        grid-template-areas: "a b"
                             "c d";
    }
    
    .name {
        grid-area: b;
        width: 90%;
        padding-left: 0;
        font: normal normal bold 35px Arial;
    }
    
    .category {
        grid-area: c;
        width: 90%;
        padding-left: 5%;
        font: normal normal bold 30px Arial;
    }
    
    .location-and-date {
        grid-area: d;
        font: normal normal normal 30px Arial;
    }
    
    .delete {
        grid-area: d;
        width: 40%;
        height: 50%;
        padding-top: 2%;
        margin: 0;
        font: normal normal normal 30px Arial;
    }
}