body {
    margin: 0;
    background: #DDE7DA 0 0 no-repeat padding-box;
}

#content {
    width: 70vw;
    height: auto;
    padding-left: 15vw;
    padding-right: 15vw;
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project {
    width: 64vw;
    height: 23vh;
    margin: 1vh 1vw 0 1vw;
    padding: 1vh 1vw 1vh 1vw;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "a b b"
                         "a d e";
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 1px solid #707070;
}

.my-project {
    width: 64vw;
    height: 23vh;
    margin: 1vh 1vw 0 1vw;
    padding: 1vh 1vw 1vh 1vw;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "a b c"
                         "a d c";
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 1px solid #707070;
}

.link-image {
    grid-area: a;
    width: 100%;
    height: 100%;
}

.link-image img, .link-image img {
    width: 100%;
    height: 100%;
    text-align: center;
}

.name {
    grid-area: b;
    width: auto;
    padding-left: 4vw;
}

.name a {
    text-decoration: none;
    text-align: left;
    font: normal normal bold 2.5vh Arial;
    color: #000000;
}

.category {
    grid-area: d;
    width: 20vw;
    padding-left: 4vw;
    text-align: left;
    font: normal normal bold 2.2vh Arial;
    color: #403737;
}

.location-and-date {
    grid-area: e;
    text-align: left;
    font: normal normal normal 2.2vh Arial;
    color: #574F4F;
}

.link-delete {
    grid-area: c;
    width: 10vw;
    height: 6vh;
    margin: 8vh 5vw 8vh 5vw;
    text-decoration: none;
}

.delete {
    width: 100%;
    height: 50%;
    padding: 1.5vh 0;
    background: #38055F 0 0 no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 29px;
    text-align: center;
    font: normal normal bold 3vh Arial;
    color: #D47C18;
}

@media only screen and (max-device-width: 1024px) {

    #content {
        width: 100vw;
        padding: 0;
    }

    .project, .my-project {
        width: 95vw;
        height: 15vh;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 75% 25%;
        grid-template-areas: "a b"
                             "c d";
    }
    
    .name {
        grid-area: b;
        width: 95%;
        padding-left: 5%;
    }
    
    .category {
        grid-area: c;
        width: 95%;
        margin: 0;
        padding: 4% 0 0 5%;
    }
    
    .location-and-date {
        grid-area: d;
        margin: 0;
        padding: 4% 0 0 5%;
    }

    .link-delete {
        grid-area: d;
        width: 50%;
        height: 8vh;
        padding-left: 30%;
        margin: 0;
    }
    
    .delete {
        height: auto;
        padding: 5% 0 5% 0;
        font-size: 2vh;
    }
}