body {
    margin: 0;
    background: transparent linear-gradient(180deg, #59D634 0%, #2D6B1A 100%) 0% 0% no-repeat padding-box;
}

#container {
    width: 100vw;
    height: 100vh;
	display: flex;
	flex-direction: column;
    justify-content: top;
    align-items: center;
}

#logo-container {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

#login-logo {
    max-width: 70%;
    margin-top: 7vh;
    margin-bottom: 7vh;
}

#register-logo {
    max-width: 70%;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

#form {
	width: 40vw;
    display: flex;
	flex-direction: column;
    justify-content: top;
    align-items: center;
	background: rgba(255, 255, 255, 0.4);
    border-radius: 26px;
}

#form-content {
    width: 35vw;
    margin: auto;
    display: flex;
	flex-direction: column;
    justify-content: top;
    align-items: center;
}

#form-header-container {
    width: 35vw;
    text-align: center;
}

h4 {
	padding: 3vh;
    font: normal normal bold 25px/29px Arial;
    letter-spacing: 0px;
    color: #D47C18;
    margin: auto;
}

#input-container {
    width: 35vw;
	display: flex;
	flex-direction: column;
    justify-content: top;
    align-items: center;
}

.form-field-with-header {
    width: 35vw;
	display: flex;
	flex-direction: column;
    justify-content: top;
    align-items: left;
    text-align: left;
}

h5 {
    margin: 0;
    font: normal normal bold 20px/23px Arial;
    letter-spacing: 0px;
    color: #D47C18;
}

.form-field {
    width: 35vw;
	display: flex;
	flex-direction: row;
    justify-content: top;
    align-items: left;
    margin-bottom: 5vh;
}

.icon {
    width: 3vw;
    height: 5vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.input-field {
	width: 32vw;
    height: 5vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    text-align: left;
    font: normal normal normal 20px/27px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
}

.buttons-container {
	width: 35vw;
	margin-bottom: 5vh;
}

.left-button {
    border: 1px solid #FFFFFF;
    background: none;
    height: 5vh;
	float: left;
	
    color: #D47C18;
    text-align: center;
    font: normal normal normal 20px/27px Segoe UI
}

.right-button {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    height: 5vh;
	float: right;
	
    border: none;
    color: #D47C18;
    text-align: center;
    font: normal normal normal 20px/27px Segoe UI
}

.left-button:hover, .right-button:hover {
    background: #EEEEEE 0% 0% no-repeat padding-box;
}

@media only screen and (max-device-width: 420px) {
    #login-logo {
        margin-top: 15vh;
        margin-bottom: 15vh;
    }

    #register-logo {
        margin-top: 10vh;
        margin-bottom: 6vh;
    }

    #logo-container, #form {
        width: 90vw;
    }

    #form-content, #form-header-container, #input-container, .form-field-with-header, .form-field, .buttons-container {
        width: 70vw;
    }

    h4 {
        font: normal normal bold 65px Arial;
    }

    h5 {
        font: normal normal bold 50px Arial;
    }

    .icon {
        width: 10vw;
    }

    .input-field {
        width: 60vw;
        font: normal normal normal 50px Segoe UI;
    }

    .left-button, .right-button {
        font: normal normal normal 50px Segoe UI;
    }
}